/* Base styles for all devices */

*{
    margin: 0;
    padding: 0;
}
body
{

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: #ffffffff;
    background: #1fb7ff;
  }
  
  ::selection {
    color: #ffffffff;
    background: #1fb7ff;
  }
.acheive-container {
    display: grid;
}

.acheive-header,
.acheive-navbar,
.acheivements,
.acheive-footer,
.acheive-copywrite {
    /* border: 1px solid #f7f7f7;
    border-radius: 10px; */
    padding: 10px;
    /* text-align: center; */
}

/* Header */

.acheive-header {
    display: grid;
    grid-template-areas: "social contact";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: #ff671f;
    /* border: 5px solid #ff671f;
    border-radius: 10px;
    box-shadow: 0 0 4px #434343; */
    /* margin-right: 50px; */
}

.acheive-header{
    font-size: xx-large;
}

.acheive-header .social-media {
    grid-area: social;
    text-align: left;
}

.acheive-header .contact-info {
    grid-area: contact;
    text-align: right;
}

.acheive-header  a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.acheive-header  a:hover {
    color: #1fb7ff;
}

/* Navbar */

.acheive-navbar {
    display: grid;
    grid-template-areas: "logo menu togg";
    grid-template-columns: 1fr 15fr 1fr;
    grid-template-rows: auto;
    background-color: #ffffff;
    /* border: 5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 4px #434343; */
}

.acheive-navbar {
    position: sticky;
    top: 0;
    z-index: 100000;
}

.acheive-navbar .site-logo {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.acheive-navbar .menu-bar {
    grid-area: menu;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
}

.acheive-navbar a {
    text-decoration: none;
    color: #1fb7ff;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.acheive-navbar .menu-bar a:hover {
    background-color: #ff671f;
    border-radius: 2px;
    color: #ffffff;
}

.acheive-navbar .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.acheive-navbar .dropdown {
    position: relative;
    display: inline-block;
}

.acheive-navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 165px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.acheive-navbar .dropdown-content a {
    color: #1fb7ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.acheive-navbar .dropdown a:hover {
    background-color: #ff671f;
    color: #ffffff;
}

.dropdown-content a:hover {
    background-color: #ff671f;
}

.dropdown:hover .dropdown-content {
    display: block;
  }
.show {
    display: block;
}
.acheive-navbar .site-logo img {
    width: 200px;
}



/* Footer */

.footer-logo img {
    width: 250px;
}

.acheive-footer {
    /* width: 99%; */
    /* border: 5px solid #ffffff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 4px #434343; */
    margin-top: 10px;
    background-color: #007db8;

}
.acheive-footer .footer-1{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    gap: 10px;
    /* background-color: #ff671f; */
    /* border: 5px solid #ffffff; */
    /* border-radius: 10px;
    box-shadow: 0 0 4px #434343; */
    padding: 5px;
}

.acheive-footer .footer-logo{
    display: flex;
    justify-content: center;
    border-right: 1px solid #ffffff;
}

.acheive-footer a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.acheive-footer a:hover {
    color: #292929;
}
.acheive-footer .navlink-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-content: center;
    border-right: 1px solid #ffffff;

}
.acheive-footer .address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-content: center;
    color: #ffffff;
    transition: 0.3s;
    border-right: 1px solid #ffffff;

}
.acheive-footer .address:hover{
    color: #292929;

}
.acheive-footer .footer-1 .social-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.acheive-footer .footer-1 .social-footer i{
    font-size: 40px;
    color: #ffffff;
    transition: 0.3s;

}
.acheive-footer .footer-1 .social-footer i:hover{
    color: #292929;
}


/* Copywrite */

.acheive-copywrite{
    display: flex;
    gap: 10px;
    background-color: #ff671f;
    /* border: 5px solid #ffffff; */
    /* border-radius: 10px; */
    padding: 5px;
    /* width: 99.5%; */
    /* margin-top: 5px; */
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.acheive-copywrite a{
    text-decoration: none;
    color: #292929;

}




/* Acheivements */

.acheivements * {
    box-sizing: border-box;
  }


  
  /* The actual timeline (the vertical ruler) */
  .acheivements .timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .acheivements .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #046A38;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .acheivements .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .acheivements .container:nth-child(odd):after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF671F ;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .acheivements .container:nth-child(even):after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #1fb7ff ;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .acheivements .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .acheivements .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .acheivements .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #FF671F;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #FF671F;
  }
  
  /* Add arrows to the right container (pointing left) */
  .acheivements .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #1fb7ff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1fb7ff transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .acheivements .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .acheivements .container:nth-child(odd) .content {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    border: 2px solid #FF671F;
  }
  .acheivements .container:nth-child(even) .content {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    border: 2px solid #1fb7ff;
  }
  
  .acheivements .container:nth-child(odd) .btn-view-achieve {
    background-color: #FF671F;
    color: white;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.3s;
    
  }
  .acheivements .container:nth-child(even) .btn-view-achieve {
    background-color: #1fb7ff;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.3s;
    
  }
  .acheivements .container .btn-view-achieve:hover{
    background-color: #046A38;
  }
  .acheivements h1{
    color: #046A38;
    text-align: center;
  }
  .acheivements .container:nth-child(odd) h2{
    color: #FF671F;
  }
  .acheivements .container:nth-child(even) h2{
    color: #1fb7ff;
  }
  .acheivements .container i{
    color: #ffd71f
    ;
  }
  

